---
layout: default
---

{% include header.html %}

<div class="main-section">
  {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%B %Y'"  %}
  {% for yearMonth in postsByYearMonth %}
    <p>
      <b>{{ yearMonth.name }}</b>
        {% for post in yearMonth.items %}
          <br />
          {{ post.date | date: "%m-%d-%y" }} <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% endfor %}
    </p>
  {% endfor %}
</div>

{% include footer.html %}
